package usecase

type {{NAME}}UseCase struct {
    // Adicione dependências aqui (ex: Repository)
}

func New{{NAME}}UseCase() *{{NAME}}UseCase {
    return &{{NAME}}UseCase{}
}

func (u *{{NAME}}UseCase) Execute() error {
    return nil
}